/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --nav-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;

  --bg-image: url(../images/cover-image-dark.png);
}

.theme_dark .header_rec {
  display: block;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: rgb(225 0 112/ 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-bg-color: #000028;
    --nav-color: #ff0070;
    --header-logo-color: #db00ff;
    --footer-logo-color: #db00ff;
    --main-text-color: #f1b2ce;
    --main-heading-color: #000028;
    --section-heading-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);

  }
    
}
