/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0;
  font-family: var(--main-font-family, monospace);
  font-size: 18px;
  line-height: 23.4px;
}

.content {
  padding: 0 10px;

}

.text-block__heading {
margin: 20px 0;
}

.header {
  block-size: max(668px,100vh);
  position: relative;
  display: grid;
  padding: 0 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* margin-bottom: 40px; */
}

.header__rec {
  /* display: flex; */
  position: absolute;
  right: 48px;
  top:20px;
  /* align-self: start; */
  /* justify-self: end; */
  line-height: 25px;
  color: var(--nav-color);
  /* padding: 20px 48px; */

}

.header__logo {
  grid-column: 1 / 3;
  align-self: center;
  margin-inline-start: -20px;
  color: var(--header-logo-color);
  /* text-shadow: var(--text-shadow); */
  font-family: inherit;
  font-size: var(--header-size);
  font-style: inherit;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);

}

/* .header__text {
  grid-column: 2 / 3;
  align-self: start;
  margin-block-start: 57px;
} */


.decorated-zone::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.decorated-zone {
  position: relative;
}


button, a {
color: currentColor;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

.header__theme-menu {
  grid-column: 1/3;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: center;
}


.header__rec::after {
  position: absolute;
  right: -17px;
  top: 9px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}


.header__theme-menu-button {
  min-inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  line-height: 18px;
  font-style: normal;
  border: none;
  border-radius: 0;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: " ";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  --nav-hover-color: rgb(255 0 112/0.4);

  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}


.header__text {
  grid-column: 2 / 3;
  align-self: start;
  /* margin-block-start: 57px; */
  background-color: var(--accent-color);
}

.header__paragraph {
  color: black;
  display: flex;
}

.content-section {
  padding-bottom: 49px;
  line-height: 23px;
  padding: 0px 10px;
}


.content-section__title {
  color: var(--nav-color);
  font-size: 18px;
  line-height: 23px;
}

.title-decor {
  background-color: var(--accent-color);
  color: black;
  font-weight: 700;
  line-height: 130%;
}

.text-block-subheading {
  margin: 20px 0px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: var(--main-bg-color);
 block-size: max(668px, 100vh);
}

.footer__logo {
  color: var(--footer-logo-color);
  font-size: var(--footer-logo-size);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (width <= 768px) {
  
  
  .header {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .header__logo {
    grid-column: 1 / 2;
    margin-inline-start: 0;
    font-size: var(--footer-logo-size);
  }

  .header__theme-menu-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  right: 20px;
  top: 76.5px;
  gap: var(--main-gap);
}

  .header__theme-menu {
    grid-template-columns: 1/2;
    margin-block-end: 52px;

  }

  .header__text {
    grid-column: 1 / 2;
    margin-block-start: 43px;
  }

  .header__rec {
    top:10px;
    right: 38px;
  }
  
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .header__paragraph {
    width: 350px;
  }

  .grid__image:nth-of-type(3) {
    grid-row: span 2;
    width: 96.1vw;
    height: 63.2vw;
  }
  
  .grid__image:nth-of-type(2) {
    grid-row: span 2;
    width: 96.1vw;
    height: 94.7vw;
  }
  
  .grid__image:first-of-type {
    grid-column: span 2;
    width: 96.1vw;
    height: 37.9vw;
  }
  
  .grid__image:last-of-type {
    grid-column: span 2;
    width: 96.1vw;
    height: 63.2vw;
  }

  .grid__image {
    gap: var(--main-gap);
    padding-top: 10px;
    width: 96.1vw;
    height: 94.7vw;
    object-position: center;

  }

}


@media (width >=768px) {

  .page {
    height: 1024px;
  }

  .header {
    grid-template-rows: auto;
    min-width: 788px;
    max-height: 100vh;
    padding-bottom: 20px;
  }

  .header__logo {
    position: relative;
    color: var(--footer-logo-color);
    font-size: var(--footer-logo-size);
    display: flex;
    justify-self: start;
    top: 45vh;
  }


  .decorated-zone::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }
  
  .decorated-zone::after {
     content: "";
    position: absolute;
    left: 20px;
    /* bottom: -300px; */
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    align-self: end;
  }
  
  
  .header__theme-menu-list {
    grid-template-columns: 1fr;
    justify-items: end;
    margin-top: 110px;

  }

  .header__text {
    position: relative;
    top:70vh;
    /* margin-block-start: 162px; */
    width: 370px;
    margin-right: 20px;
    /* margin-top: 160px; */
  }

  .header__paragraph {
    width: 45vw;
  }
  
  .content {
    padding: calc(3 + var(--main-gap)) var(--main-gap);
    padding-bottom: 20px;
  }
  
  .content__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .content__link:hover {
    border-block-end: 1px solid var(--main-text-color);
  }

  .content__link:focus {
    outline: none;
  }

  .content__link:focus-visible {
    outline: 1px solid var(--main-text-color);
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
    padding-bottom: 90px;

  }

   .content-section:nth-child(2) {
    grid-template-columns: 1fr;
    padding-bottom: 80px;
  }

  .content-section:first-of-type {
    margin-top: 270px;
    padding-top: 40px;
  }

  .content-section__title {
    width: 236px;
    margin-inline-end: 0;
  }
  
  .content-section:not(:last-of-type) {
    margin-block-end: calc(4 + var(--main-gap));
  }
  
  
  .text-block {
    margin-block-start: var(--main-gap);
  }

  .text-block__heading {
    line-height: 23px;
    font-size: 18px;
    margin: 10px 0px;
  }
  
  .text-blocks .text-block:first-of-type {
    margin-block-start: 0;
  }
  
  .text-block_paragraph {
    margin-block-start: calc(var(--main-gap) / 2);
  }
  
  .text-block_subheading {
    margin-block-start: var(--main-gap);
  }
  
  .causes .content-section__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .causes .text-blocks {
    grid-column: 1/-1;
    grid-row: 2 span;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
    padding-bottom: 0px;
  }
  
  .grid-heading {
    grid-column: 1/-1;
  }
  
  .grid__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    width: 31vw;
    height: 31vw;
  }
  
  .grid__image:nth-of-type(3) {
    grid-row: span 2;
    width: 31vw;
    height: 75vw;
  }
  
  .grid__image:nth-of-type(2) {
    grid-row: span 2;
    width: 31vw;
    height: 58vw;
  }
  
  .grid__image:first-of-type {
    grid-column: span 2;
    width: 64vw;
    height: 25.5vw;
  }
  
  .grid__image:last-of-type {
    grid-column: span 2;
    width: 63.5vw;
    height: 41.9vw;
  }

}


@media (width >= 1024px) {
  .page {
  max-height: 768px;
  }

  .header {
    /* min-block-size: 640px; */
    /* max-height: 499px; */
    height: 100vh;
    /* margin-bottom: 190px; */
  }


  .header__logo {
    position: relative;
    top: 23vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-row: 2;
    align-self: start;
    width: 491px;
    top: 114px;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  }

  .header__theme-menu {
  justify-self: center;
  align-self: start;
  position: absolute;
  margin-right: 188px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .what .text-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--main-gap);
  }

  .what .text-block__heading {
    margin-top: 0px;
  }

  .what .text-block {
    margin-top: 0px;
  }

  .content-section__title {
    width: 344px;
  }

  .content-section {
  padding-bottom: 78px;

}

  .content-section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
  }

  .content-section:first-of-type {
    margin-top: 0px;
    /* padding-top: 140px; */
  }

  .grid-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
  }
  
.text-block__paragraph {
  font-size: 18px;
  line-height: 23px;
}

.text-block-subheading {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}

  .footer {
    position: relative;
    max-width: 1440px;
   height: 100vh;
  }

  .footer.decorated-zone::after {
    right: 10px;
    bottom: 10px;
  }

}